* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background: #d8d0c4;
}

#root {
  width: 100%;
  min-height: 100vh;
}

/* PAINEL */

.container {
  width: calc(100% - 30px);
  max-width: 600px;
  min-height: 800px;

  margin: 30px auto;
  padding: 45px 40px;

  background: #0c1421;
  color: white;

  border-radius: 30px;

  box-shadow:
    0 25px 70px rgba(0, 0, 0, 0.4);
}

/* TÍTULO */

h1 {
  margin: 0 0 10px;

  color: #f8fafc;

  font-size: 42px;
  text-align: left;
}

/* CONTADOR */

.contador {
  margin: 0 0 30px;

  color: #8d9ab0;

  font-size: 15px;
  font-weight: bold;
}

/* FORMULÁRIO */

form {
  display: flex;
  gap: 12px;

  margin-bottom: 25px;
}

form input[type="text"] {
  flex: 1;
  min-width: 0;

  height: 58px;

  padding: 0 18px;

  border: 2px solid #354258;
  border-radius: 16px;

  background: #151f2e;
  color: white;

  outline: none;

  font-size: 15px;
}

form input[type="text"]::placeholder {
  color: #7f8ca1;
}

form input[type="text"]:focus {
  border-color: #656de4;
}

form button {
  height: 58px;

  padding: 0 22px;

  border: none;
  border-radius: 16px;

  background: linear-gradient(
    135deg,
    #5963df,
    #754ee7
  );

  color: white;

  font-size: 15px;
  font-weight: bold;

  cursor: pointer;

  transition: 0.2s;
}

form button:hover {
  transform: translateY(-2px);
}

/* ERRO */

.container > p:not(.contador) {
  color: #ff7777;
  font-size: 14px;
}

/* LISTA */

.lista-ideias {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

/* IDEIAS */

.idea {
  display: flex;
  align-items: center;
  gap: 14px;

  min-height: 65px;

  padding: 15px 18px;

  border: 1px solid #354258;
  border-radius: 18px;

  background: #151f2e;

  transition: 0.2s;
}

.idea:hover {
  border-color: #59677f;
  transform: translateY(-2px);
}

/* CHECKBOX */

.idea input[type="checkbox"] {
  width: 20px;
  height: 20px;

  flex-shrink: 0;

  accent-color: #45b889;

  cursor: pointer;
}

/* TEXTO DA IDEIA */

.idea span {
  flex: 1;

  color: #f1f5f9;

  font-size: 16px;
}

/* IDEIA CONCLUÍDA */

.feita {
  color: #829b93 !important;

  text-decoration: line-through;
}

/* BOTÃO X */

.idea button {
  width: 32px;
  height: 32px;

  padding: 0;

  border: none;
  border-radius: 50%;

  background: transparent;

  color: #8794a8;

  font-size: 23px;

  cursor: pointer;

  transition: 0.2s;
}

.idea button:hover {
  background: #39232a;
  color: #ff7070;
}

/* CELULAR */

@media (max-width: 600px) {

  .container {
    width: calc(100% - 20px);

    min-height: calc(100vh - 20px);

    margin: 10px auto;

    padding: 35px 22px;

    border-radius: 25px;
  }

  h1 {
    font-size: 34px;
  }

  form {
    gap: 8px;
  }

  form button {
    padding: 0 16px;
  }
}